# .NET / Visual Studio
.vs
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
/Practical-Exercices/ReadingList/exported.csv
/Practical-Exercices/ReadingList/test.csv
/Design-Patterns-using-C#-and-.NET-Core/SimpleDIDemo
